html, body {
    height: 100%;
}
body {
    margin: 0;
}
body{
    color: #2d2d2d;
}
a, a:hover{
    color:#BE063F;
}
a:hover{
    cursor: pointer;
}
.btn{
    background:#BE063F;
    border:1px solid #BE063F;
    border-radius:5px;
    color:#fff;
    font-size: 1.2em;
    padding: 5px 30px;
    transition: all .3s;
}
.btn:hover{
    color:#BE063F;
    background:#fff;
}
.btn.cancel {
    float: right;
    margin-top: -10px;
    margin-left: 10px;
}
:focus {outline:none;}
::-moz-focus-inner {border:0;}
:visited, :focus, :active, :hover{
    outline:0 none !important;
}
.titoletto{
    font-size: 3rem;
    color:#BE063F;
    text-transform: uppercase;
    display: block;
    border-left: 5px solid #BE063F;
    padding-left: 15px;
    margin-bottom: 15px;
}
h1 {
    font-size: 2.5rem;
    border-left: 4px solid #BE063F;
    padding: 15px;
}
h2 {
    border-bottom: 1px solid #BE063F;
    width: auto;
    padding: 15px 0;
    display: inline-block;
    margin: 15px 0;
}
h3 {
    border-left: 1px solid #BE063F;
    width: auto;
    padding: 15px;
}

.navbar, #navbarHeader{
    background:#BE063F;
}
.navbar{
    background:#BE063F;
    background-image:linear-gradient(to top, #790126, #BE063F);
}
.navbar-dark .navbar-toggler {
    color: #fff;
    border: none;
}
.navbar-dark .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}
.visual{
    height: 35vh;
    background-position:bottom right;
    background-repeat: no-repeat;
    background-size: contain;
    border-bottom: 10px solid #BE063F;
}

.top-visual{
    height: 35vh;
    background-position:center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.agenda_line {
    border-bottom: 1px solid #ddd;
    padding: 15px;
    display: inline-block;
    width: 100%;
}
.agenda_line h3{
    margin-bottom: 30px;
}
.agenda_line a{
    float: right;
}

.video-icon {
    color: #BE063F;
    border: 1px solid #BE063F;
    border-radius: 5px;
    padding: 0 5px;
}

footer {
    background-color: #232526;
    background-image: linear-gradient(to bottom, #363636 0%, #0c0c0c 90%);
    color: #fff;
    padding: 30px 0;
}