RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^([^\.]+)$ $1.php [NC,L]

RewriteRule ^source/([A-Za-z0-9_]+) source.php?site=$1
RewriteRule ^article/([A-Za-z0-9]+) article.php?uid=$1 [L,QSA]

#RewriteRule ^(.*)$ article.php?uid=$1 [NC]